AUTH_SECRET=<auth_secret>
NEXTAUTH_SECRET=<auth_secret>
NEXTAUTH_URL=<domain_name>
NODE_ENV=development
AUTH_TRUST_HOST=true
BASE_API_URL=http://<backend_hostname>:<port>/<backend_api_root>
BASE_PUBLIC_API_URL=<domain_name>/<backend_api_root>