# POSTGRES DATABASE SETTINGS
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_DB=<postgres_db_name>
POSTGRES_URL=jdbc:postgresql://<host_name>:<port>/<db_name>
POSTGRES_USERNAME=<postgres_user>
POSTGRES_PASSWORD=<postgre_password>


# BACKEND SETTINGS
DB_USER=<postgres_user>
DB_PASSWORD=<postgres_password>
DB_HOST=<host_name>
DB_PORT=<port>
DB_NAME=<db_name>
SQL_LITE_DB_NAME=qgd_db.db
DEPLOYMENT_MODE=development